@import 'tailwindcss';
@import './prism.css' layer(base);

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-gradient-500 {
  @apply bg-linear-to-br from-alpha to-beta bg-clip-text text-transparent;
}

@utility bg-gradient-omega-900 {
  @apply bg-linear-to-r from-omega-900 to-omega-800;
}

@utility with-back-plate {
  @apply relative mb-2 -translate-x-2 md:mb-2 md:-translate-x-2;
  &::before {
    @apply absolute right-0 bottom-0 h-full w-full translate-x-2 translate-y-2 bg-white md:translate-x-2 md:translate-y-2;
    content: '';
    z-index: -1;
  }
}

@layer base {
  * {
    @apply box-border;
  }
  h1 {
    @apply text-4xl font-bold tracking-tight md:text-5xl lg:text-6xl;
  }
  h2 {
    @apply text-3xl font-bold tracking-tight md:text-4xl lg:text-5xl;
  }
  h3 {
    @apply text-3xl font-bold tracking-tight lg:text-4xl;
  }
  h4 {
    @apply text-2xl font-bold md:text-3xl;
  }
  h5 {
    @apply text-xl font-bold md:text-2xl;
  }
  h6 {
    @apply text-lg font-bold md:text-xl;
  }
  p {
    @apply text-base md:text-lg;
  }
  small,
  small * {
    @apply text-sm font-medium md:text-base;
  }
  :is(h1, h2, h3, h4, h5, h6, span) {
    & > em {
      @apply text-gradient-500 not-italic;
    }
    & > span {
      color: var(--tw-prose-counters);
    }
  }
}
